.pendiente {
    display: flex;
    flex-direction: row;
    background-color: #eeefef;
    margin-bottom: 5px;
    border-radius: 5%;
    width: 86%;
    align-items: center;

}

.realizado {
    display: flex;
    flex-direction: row;
    background-color: #eeefef;
    margin-bottom: 5px;
    border-radius: 5%;
    width: 86%;
    align-items: center;
    text-decoration: line-through;

}

.checkbox-round {
    float: left;
    width: 1.3em;
    height: 1.3em;
    margin: revert;
    background-color: rgb(210, 205, 205);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(46, 46, 46);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #990000;
}

.btns {
    margin-left: auto;
    margin-right: 4%;
}

.parrafo {
    margin-left: 30px;
}