.Footer {
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    top: 57%;
    position: absolute;
    width: 22%;
    height: 4%;

}

.btnclear {
    color: white;
    margin-left: auto;
    background-color: #dd3243;
    border: 0;
    width: 30%;
    border-radius: 5%;
}

.p-form {
    margin: 10px;
    margin: auto;
}