.Footer {
    display: flex;
    flex-direction: row;
    margin-left: 3.9%;
    top: 60%;
    position: absolute;
    width: 33%;
    height: 4%;

}

.btnclear {
    color: white;
    margin-left: auto;
    background-color: #dd3243;
    border: 0;
    width: 24%;
    border-radius: 5%;
}